body{
    background-color: rgb(0, 179, 255);
}

img{
    width: 300px;
}

/* nav{
    margin-left: 200px;
} */

.batas{
   margin-left: 200px;
}

.warna{
    background-color: red;
}

#bekgron {
    background-color: rgb(46, 165, 42);
}

#kiri{
    margin-left: 200px;
}